* {
    margin: 0px;
    text-decoration: none;
    font-family: Inter;
    } 

    body{
        padding: 32px 37px; 
        width: 85%;
    }

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0px 0px 84px;   
}

.Grow_Be{
    width: 137px;
    height: 40px;;
    display: flex;
  
}

.link{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0%;
    align-self: center;
}

.menu{
    display: flex;
    justify-content: end;
    gap: 40px;
}

.seo{
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
}

.Provide{
    color: rgb(136, 136, 136);
    font-size: 20px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;   
}

.start{
    border-radius: 50px;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
    background: rgb(242, 88, 34);
    width: 140px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: center;
    border-style: none;
}

.watch{
    color: rgb(170, 170, 170);
    font-size: 15px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
    border-style: none;
    background-color: white;
    gap: 72px;
}

.top_buttons{
    display: flex;
    height: 50px;
    left: 2013px;
    right: -1793px;
    top: 75px;
    bottom: 249px;
    gap: 72px;
    margin: 12px 0px;
   
}

.top_logo{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top_content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    margin: 0px 0px 200px;
}


.Logo{
    height: 50px;
}

.top_info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
